.centralBox {
  border: blue 5px solid;
  border-radius: 20px;
  margin: auto;
  width: 60%;
}

.header {
  text-align: center;
  border: aqua 5px solid;
  border-radius: 20px;
  background-color: aqua;
  margin: auto;
  width: 90%;
}

.formdiv {
  margin: auto;
  width: 90%;
}

.addTaskForm {
  display: inline-block;
  border: rgb(157, 255, 127) 2px solid;
  background-color: rgb(157, 255, 127);
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.inputField {
  border: black solid 1px;
  font-size: 20px;
  border-radius: 5px;
  margin: auto;
  width: 90%;
}

.addTaskButton {
  color: blue;
  margin-left: 10px;
  background-color: aquamarine;
  border: 2px solid;
  border-radius: 100%;
}

.taskItem {
  margin: 5px;
  display: inline-flex;
}

.crossButton {
  border: none;
  border-radius: 10px;
  margin-right: 20px;
}
.crossImg {
  height: 20px;
  width: 20px;
}
